.item {
    width: 190px;
    height: 250px;
    padding: 0 10px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    background-color: #fffbe9;
    justify-content: space-around;
}
.img {
    width: 100%;
}
.buyBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.cart {
    width:30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #10025c;
    cursor: pointer;
}
.quantity {
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: 161px;
    top: -10px;

    border-radius: 50%;
    background-color: #4579a3;
    color: white;
    font-size: 11px;
}
