.user{
    font-size: 15px;
    margin-bottom: 5px;
}

.review{
    font-size: 15px;
}
.container{
    border: 1px solid black;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 15px;
    display: flex;
}
.img{
    height: 70px;
}