.container{
    background-color: rgb(235, 235, 235);
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 1px solid black;
}
.title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.cart{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
}
.link{
    text-decoration: none;
    color: black;
}
.pending{
    color: darkorange;
}
.delvering{
    color: brown;
}
.completed{
    color: green;
}
.cancelled{
    color: red;
}