.header {
    height: 50px;
    padding: 70px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-size: 45px;
    letter-spacing: 10px;
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%);
    color: black;
}
.icons a {
    color: black;
}

.icons {
    display: flex;
    justify-content: space-between;
    width: 150px;
    color: black;
    position: relative;
}
.cartSize{
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: black;
    color: white;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 145px;
    top: -5px;
}
    .icons > svg {
        cursor: pointer;
    }

.header > svg {
    cursor: pointer;
}
