footer {
    height: 50px;
    padding: 70px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-size: 45px;
    letter-spacing: 10px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.icons {
    display: flex;
    justify-content: space-between;
    width: 150px;
}

    .icons > svg {
        cursor: pointer;
    }

.footer >svg {
    cursor: pointer;
}
